* {
  margin: 0px;
  padding: 0px;
}

.container {
  height: 100vh;
  width: 100%;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.runway {
  width: 100%;
  height: 200px;
  background-image: url(images/road.jpg);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
}
.airplane {
  width: 600px;
  position: absolute;
  bottom: 150px;
  right: -200px;
  animation: plan 5s linear infinite;
  transform-origin: 100% 50%;
}
@keyframes plan {
  0% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  30% {
    transform: translateX(-500px) translateY(0px) rotate(3deg);
  }
  100% {
    transform: translateX(-1700px) translateY(-200px) rotate(15deg);
  }
}
